In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np

# Preprocessing of Data

In [13]:
file_path='X:\hemlo\car_price_prediction.csv'
data=pd.read_csv(file_path)
columns_irrelevant=['ID','Model','Levy','Wheel','Color','Leather interior','Engine volume','Category','Manufacturer','Fuel type','Doors']
data_filtered = data.drop(columns=columns_irrelevant)
columns_to_encode = ['Gear box type', 'Drive wheels']
data_encoded = pd.get_dummies(data_filtered, columns=columns_to_encode)
data_encoded['Mileage']=data_encoded['Mileage'].str.replace(' km', '')
data_encoded['Mileage'] = pd.to_numeric(data_encoded['Mileage'])
y=data_encoded['Price']
x=data_encoded.drop(columns=['Price'])
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)
#y_train_scaled=scaler.transform(y_train.reshape(-1, 1))
#y_test_scaled=scaler.transform(y_train.reshape(-1, 1))
y_train_numpy = y_train.values
y_test_numpy = y_test.values

In [36]:
data_encoded.head()

,Price,Prod. year,Mileage,Cylinders,Airbags,Gear box type_Automatic,Gear box type_Manual,Gear box type_Tiptronic,Gear box type_Variator,Drive wheels_4x4,Drive wheels_Front,Drive wheels_Rear
0,13328,2010,186005,6.0,12,True,False,False,False,True,False,False
1,16621,2011,192000,6.0,8,False,False,True,False,True,False,False
2,8467,2006,200000,4.0,2,False,False,False,True,False,True,False
3,3607,2011,168966,4.0,0,True,False,False,False,True,False,False
4,11726,2014,91901,4.0,4,True,False,False,False,False,True,False

#Building linear regression model from scratch

In [35]:
coefficients = np.zeros(11)
bias = 0

def predict(x):
    return np.dot(x,coefficients)+bias

def cost_function(y_target,y_pred):
    m=y_target.shape[0]
    cost=0
    for i in range(m):
        diff=(y_pred[i]-y_target[i])**2
        cost+=diff
    total_cost=(1/(2*m))*cost
    return total_cost

def grad_decsend(x,y_target,y_pred,learn_rate):
    global coefficients, bias
    error=y_pred-y_target
    m=y_pred.shape[0]
    grad=(1/m)*np.dot(x.T,error)
    coefficients-=learn_rate*grad
    bias-=learn_rate*np.mean(error)

learn_rate=0.01
epochs=1000
for epoch in range(epochs):
    y_pred=predict(x_train_scaled)
    loss=cost_function(y_train_numpy,y_pred)
    grad_decsend(x_train_scaled,y_train_numpy,y_pred,learn_rate)
    if epoch%100==0:
        print(f'Epoch {epoch}, Loss {loss}')

Epoch 0, Loss 22840634070.093735
Epoch 100, Loss 22658676555.954666
Epoch 200, Loss 22631037785.423004
Epoch 300, Loss 22625889634.410107
Epoch 400, Loss 22624630231.427296
Epoch 500, Loss 22624236557.67938
Epoch 600, Loss 22624094718.565514
Epoch 700, Loss 22624040361.828114
Epoch 800, Loss 22624019035.626476
Epoch 900, Loss 22624010595.833725